POSTGRES_DB=bddev
POSTGRES_USER=sysdba
POSTGRES_PASSWORD=change-this-postgres-password

JWT_ISSUER=RhPortal
JWT_AUDIENCE=RhPortal
JWT_SIGNING_KEY=change-this-jwt-signing-key-with-at-least-32-characters
OPS_RESET_KEY=change-this-ops-reset-key
EMAIL_ENCRYPTION_KEY=change-this-64-hex-char-email-encryption-key

WEB_PUBLIC_ORIGIN=http://10.0.0.80:8080
WEB_PUBLIC_PORT=8080

API_PUBLIC_URL=http://10.0.0.80:7073/
API_PUBLIC_PORT=7073

SEED_ENABLED=true
SEED_ADMIN_PASSWORD=ChangeThisPassword123!
SEED_VAGAS_ENABLED=true
SEED_CANDIDATOS_ENABLED=true
SEED_INBOX_ENABLED=true
SEED_CANDIDATE_PASSWORD=Mudar123@

WEB_USE_HTTPS_REDIRECTION=false
WEB_USE_HSTS=false
WEB_SECURE_COOKIES=false
API_USE_HTTPS_REDIRECTION=false

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1/
OPENAI_MODEL=gpt-4o-mini
OPENAI_TIMEOUT_SECONDS=60
OPENAI_MAX_FILE_SIZE_BYTES=10485760

ENTRA_ENABLED=false
ENTRA_AUTHORITY=https://login.microsoftonline.com/common/v2.0
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_CALLBACK_PATH=/signin-entra
